@import 'config';

@mixin btn {
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    max-width: max-content;
    height: 7rem;
    border: none;
    border-radius: 3.5rem;
    padding: 0 5rem;
    background-color: transparent;

    @include titlefont;
    font-size: 2rem;
    font-weight: semi-bold;

    @include transition(all .25s ease);

    @include respond-to('tablet') {
        height: 5.5rem;
        padding: 0 3rem;
    }

    @include respond-to('mobile') {
        font-size: 1.8rem;
    }

    &:focus {
        border: none;
        outline: none;
    }
}

// Primary button has accent background and white text
.btn-primary {
    @include btn;
    background-color: $accent;
    font-weight: bold;
    color: $text1;

    &.btn-shadow {
        @include box-shadow(0 0 5rem 0 $accent);
    }
}

// Secondary button has white background and background2 text
.btn-secondary {
    $inset: .45rem;
    @include btn;
    background-color: transparent;
    color: $text1;

    @include box-shadow(inset 0 0 0 .2rem $text1);

    &.light {
        color: $background1;
        
        @include box-shadow(inset 0 0 0 .2rem $background1);
    }
}

.btn-primary {
    &:hover {
        &:not(:disabled) {
            top: -.5rem;
        }
    }
}
.btn-secondary {
    &:hover {
        &:not(:disabled) {
            top: -.5rem;
        }
    }
}