@import 'config';
@import 'buttons';
@import 'components';

@import 'components/navigation_bar.scss';
@import 'components/hero.scss';


html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        position: relative;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    body {
        width: 100%;
        height: 100%;
        background-color: $background1;
        color: $text1;
    }
}

::selection {
    background-color: $accent;
}

